<div class="container">
  <h1>Experiences</h1>
  <% result.forEach(experience => { %>
    <div class="col-xs-6 col-sm-3">
      <div class="thumbnail">
        <img class="front-image-thumbnail" src="<%= experience.images[0] %>" alt="...">
        <div class="caption">
          <strong>$<%= experience.price %></strong> <a href="/experiences/<%= experience._id %>/"><%= experience.name %></a><br>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  <% }); %>
  </div>