<div class="container">
  <form class="form-inline" action="/experiences" method="post">
    <input class="form-control" type="text" name="name" placeholder="Short Description of the Experience" required>
    <input type="text" class="form-control" name="address" placeholder="Full Address" id="searchTextField">

    <input id="lat" type="hidden" class="form-control" name="lat">
    <input id="long" type="hidden" class="form-control" name="long">

    <textarea name="description" class="form-control" placeholder="Write a short description about the experience you want to offer"></textarea>
    <input class="form-control" type="text" name="images" placeholder="Select a image">
    <input class="form-control" type="text" name="categories" placeholder="Select your categories">
    <input class="form-control" type="number" name="price" placeholder="price of experience">
    <input class="form-control" type="number" name="duration" placeholder="Duration of the experience">
    <button type="submit" class="btn btn-default">Create a new Experience</button>
    <a class="btn btn-md btn-primary" href="/experiences">Go Back</a>
  </form>

  <% if (typeof(errorMessage) != "undefined") { %>
    <div class="error-message">
      <%= errorMessage %>
    </div>
    <% } %>
</div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzZ_vMmKMZeivRsR3pp-ZM4cWviVEkG1c&libraries=places" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://localhost:3000/javascripts/newExperience.js"></script>