<div class="container">
  <form class="form-signin" action="/experiences" method="post">
    <h2 class="form-signin-heading">Add an amazing Experience</h2>
    <input class="form-control" type="text" name="name" placeholder="Short Description of the Experience" required>
    <input type="text" class="form-control" name="address" placeholder="Full Address" id="searchTextField">
    <input id="lat" type="hidden" class="form-control" name="lat">
    <input id="long" type="hidden" class="form-control" name="long">
    <textarea name="description" class="form-control" placeholder="Write a short description about the experience you want to offer"></textarea>
    <input class="form-control" type="text" name="images" placeholder="Select a image">
    <select class="form-control" name="category"> <!--Supplement an id here instead of using 'name'-->
      <option value="value0" disabled selected>Category</option> 
      <option value="Arts">Arts</option> 
      <option value="Entertainment" >Entertainment</option>
      <option value="Fashion">Fashion</option>
      <option value="Food & Drink">Food & Drink</option>
      <option value="Lifestyle">Lifestyle</option>
      <option value="Music">Music</option>
      <option value="Nature">Nature</option>
      <option value="Social impact">Social impact</option>
      <option value="Sports">Sports</option>
      <option value="Technology">Technology</option>
      <option value="Wellness">Wellness</option>
    </select>
    <!-- <input class="form-control" type="text" name="category" placeholder="Select your categories"> -->
    <input class="form-control" type="number" name="price" placeholder="price of experience">
    <input class="form-control" type="number" name="duration" placeholder="Duration of the experience"><br>
    <button type="submit" class="btn btn-primary">Create </button>
  </form>

  <% if (typeof(errorMessage) != "undefined") { %>
    <div class="error-message">
      <%= errorMessage %>
    </div>
    <% } %>
</div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzZ_vMmKMZeivRsR3pp-ZM4cWviVEkG1c&libraries=places" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://localhost:3000/javascripts/newExperience.js"></script>