<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Experify!</h1>
    <p>Let the activities begin!</p>
    <input type="text" placeholder="Search by Destination" class="form-control" name="locationName" id="locationName">
    <button id="goMap" class="btn btn-success"><a href="/search" style="text-decoration:none; color:white;">Search!</a></button><br><br>
            <input id="lat" class="form-control" placeholder="Full address" name="lat">
            <input id="long"  class="form-control" placeholder="Full address" name="long">
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="front-image-thumbnail" src="images/download.svg" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet aliquam sem, sit amet laoreet eros sagittis eleifend. Quisque dignissim accumsan pellentesque.</p>
          <p><a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="front-image-thumbnail" src="images/download.svg" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet aliquam sem, sit amet laoreet eros sagittis eleifend. Quisque dignissim accumsan pellentesque.</p>
          <p><a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="front-image-thumbnail" src="images/download.svg" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet aliquam sem, sit amet laoreet eros sagittis eleifend. Quisque dignissim accumsan pellentesque.</p>
          <p><a href="#" class="btn btn-default" role="button">Read More</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget metus id elit tincidunt tincidunt. Aliquam cursus
      sem at maximus ultricies. Suspendisse potenti. Nullam pulvinar feugiat ex eget auctor. Mauris fermentum consectetur
      felis non vehicula. Pellentesque interdum sagittis purus vitae ultrices. Morbi vulputate orci eget tristique congue.
      Mauris ac dui et mi vulputate rutrum. Mauris fringilla sapien ex, nec facilisis justo semper sed. Duis vulputate hendrerit
      tincidunt.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <ul class="list-unstyled">
        <li><h2>Must-See Attractions</h2></li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-4">
      <ul class="list-unstyled">
        <li><h2>Top Destinations</h2></li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
      </ul>
    </div>
        <div class="col-sm-6 col-md-4">
      <ul class="list-unstyled">
        <div class="form-group">
        <select class="form-control" id="currency-selector">
          <option>USD</option>
          <option>EUR</option>
          <option>SEK</option>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" id="language-selector">
          <option>English</option>
          <option>Spanish</option>
          <option>Swedish</option>
        </select>
      </div>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <footer>
    <p>&copy; 2016 Experify, Inc.</p>
  </footer>
</div>

<!-- /container -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzZ_vMmKMZeivRsR3pp-ZM4cWviVEkG1c&libraries=places" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://localhost:3000/javascripts/searchexperience.js"></script>