<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron first-jumbo">
  <div class="container">
    <h1 class="front-page-text">Welcome to Experify!</h1>
    <p class="front-page-text">Let the activities begin!</p>

    <div class="form-inline">
      <input type="text" placeholder="Search by Destination" class="form-control" name="searchTextField" id="searchTextField">
      <button id="goMap" class="btn btn-success"><a href="/search" style="text-decoration:none; color:white;"><i class="fa fa-search" aria-hidden="true"></i> Search</a></button>
    </div>
    <input id="lat" type="hidden" class="form-control" placeholder="Full address" name="lat">
    <input id="long" type="hidden" class="form-control" placeholder="Full address" name="long">
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="#"><img class="front-image-thumbnail" src="images/surfing-Rio-de-Janeiro.jpg" alt="...">
          <div class="caption">
            <h3>Learn surfing in Rio de Janeiro</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet aliquam sem, sit amet laoreet eros sagittis
              eleifend. Quisque dignissim accumsan pellentesque.</p>
        </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="#"><img class="front-image-thumbnail" src="images/golf-06.jpg" alt="...">
          <div class="caption">
            <h3>Go Golfing with a Pro outside of London</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet aliquam sem, sit amet laoreet eros sagittis
              eleifend. Quisque dignissim accumsan pellentesque.</p>
        </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="#"><img class="front-image-thumbnail" src="images/Fishing.jpg" alt="...">
          <div class="caption">
            <h3>Deep Sea Fishing in Miami</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet aliquam sem, sit amet laoreet eros sagittis
              eleifend. Quisque dignissim accumsan pellentesque.</p>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron second-jumbo">
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget metus id elit tincidunt tincidunt. Aliquam cursus
      sem at maximus ultricies. Suspendisse potenti. Nullam pulvinar feugiat ex eget auctor. Mauris fermentum consectetur
      felis non vehicula. Pellentesque interdum sagittis purus vitae ultrices. Morbi vulputate orci eget tristique congue.
      Mauris ac dui et mi vulputate rutrum. Mauris fringilla sapien ex, nec facilisis justo semper sed. Duis vulputate hendrerit
      tincidunt.
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <ul class="list-unstyled">
        <li>
          <h2>Must-See Attractions</h2>
        </li>
        <li>
          <h4><a href="#">11-hour guided day trip from London to Windsor Castle, Stonehenge and Bath</a></h4>
        </li>
        <li>
          <h4><a href="#">Explore Gaudí and modernisme</a></h4>
        </li>
        <li>
          <h4><a href="#">Eiffel Tower Summit and VIP Lounge Priority Access</a></h4>
        </li>
        <li>
          <h4><a href="#">Carnival in Rio de Janeiro</a></h4>
        </li>
        <li>
          <h4><a href="#">The Vasa Museum</a></h4>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-4">
      <ul class="list-unstyled">
        <li>
          <h2>Top Destinations</h2>
        </li>
        <li>
          <h4><a href="#">Barcelona, Spain</a></h4>
        </li>
        <li>
          <h4><a href="#">Paris, France</a></h4>
        </li>
        <li>
          <h4><a href="#">Rome, Italy</a></h4>
        </li>
        <li>
          <h4><a href="#">Rio de Janeiro, Brazil</a></h4>
        </li>
        <li>
          <h4><a href="#">Stockholm, Sweden</a></h4>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-4">
      <ul class="list-unstyled">
        <div class="form-group">
          <select class="form-control" id="currency-selector">
          <option>USD</option>
          <option>EUR</option>
          <option>SEK</option>
        </select>
        </div>
        <div class="form-group">
          <select class="form-control" id="language-selector">
          <option>English</option>
          <option>Spanish</option>
          <option>Swedish</option>
        </select>
        </div>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <footer class="container">
    <p>&copy; 2017 Experify, Inc.</p>
  </footer>
</div>

<!-- /container -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzZ_vMmKMZeivRsR3pp-ZM4cWviVEkG1c&libraries=places" async
  defer></script>
<script src="/javascripts/init-getCoordinates-textSearch.js"></script>
<script src="/javascripts/searchexperience.js"></script>