<div class="container">
<h1>Welcome to the search result page!</h1>
</div>

<%= expericens %> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript">
  var loc = (<%- JSON.stringify(location)%>)
</script>

<script type="text/javascript" src="javascripts/controlinput.js"></script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDimRakPJ6OfHh5LOOD0wxRxomF_ocMTk&libraries=places&callback=initAutocomplete"async defer></script>
<script type="text/javascript" src="javascripts/map.js"></script>